---
import Layout from '../layouts/Layout.astro';
import logo from '../content/logo.png';
import team from '../content/team_photo.jpeg';
import TeamProfile from '../components/TeamProfile.astro';
import Button from '../components/Button.astro';

import fuad from '../content/headshots/fuad.png';
import jason from '../content/headshots/jason.png';
import steven from '../content/headshots/steven.png';
import anna from '../content/headshots/anna.png';
import noah from '../content/headshots/noah.png';

import hyperloop from '../content/timeline/hyperloop.jpeg';
import frog from '../content/timeline/frog.jpg';
import f1tenth from '../content/timeline/f1tenth.JPG';
import karting from '../content/timeline/2025-karting.jpg';

---
<Layout title="Paradigm Engineering">
	<div class="relative w-full">
		<div class="w-full h-2/3 bg-[url('/header-2.jpg')] bg-cover bg-center">
			<div class="flex flex-col justify-center items-center pt-[20vh] pb-[10vh]">
				<div class="h-1/4 flex w-[60vw] items-center flex-col 2xl:text-start text-center bg-black bg-opacity-50">
					<div class="w-full self-stretch text-center text-white font-anta text-[2rem] md:text-[4rem] sm:text-[3rem]">ABOUT US</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex justify-center bg-white">
		<div class="flex flex-col items-center">
			<div class="xl:px-[15%] text-gray-700 my-[2em]">
				<img src={team.src}>
			</div>
		</div>
	</div>
	<div id="who" class="flex justify-center bg-gray-200">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl font-roboto">Who are we?</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
			<div class="pt-4 xl:px-[25%] px-10 text-gray-700">
				Paradigm Engineering is a diverse student group from the Memorial University of Newfoundland and Labrador (MUN). 
				The team includes three engineering sub-teams for electrical, software, and mechanical work. 
			</div>
		</div>
	</div>
	<div id="people" class="flex justify-center bg-white">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl font-roboto">Team Leads</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
			<div class="lg:flex lg:flex-row grid grid-cols-2 2xl:space-x-10 pt-4 2xl:px-[15%] px-10">
				<TeamProfile image={fuad} name="Fuad Ahmed" linkedin="https://www.linkedin.com/in/fuad-ahmed226" isLarge={true} title="Team Lead"/>
				<TeamProfile image={jason} name="Jason Matthews" linkedin="https://www.linkedin.com/in/jason-matthews-3a417135b" isLarge={true} title="Algorithms Lead"/>
				<TeamProfile image={steven} name="Steven Dyer" linkedin="https://www.linkedin.com/in/stevenwdyer/" isLarge={true} title="Software Lead"/>
				<TeamProfile image={anna} name="Anna Goldsworthy" linkedin="https://www.linkedin.com/in/anna-goldsworthy" isLarge={true} title="Electrical Lead"/>
				<TeamProfile image={noah} name="Noah Swamidas" linkedin="https://www.linkedin.com/in/noah-swamidas-3a0b63297/" isLarge={true} title="Mechanical Lead"/>
				
			</div>
		</div>
	</div>
	<div id="what" class="flex justify-center bg-gray-200">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl font-roboto">What do we do?</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
			<div class="pt-4 xl:px-[25%] px-10 text-gray-700">
				We imagine, develop, create, and demonstrate autonomous racing vehicles to compete in various competitions. Our goal is to push Newfoundland and MUN to the forefront of autonomous vehicle research.
			</div>
		</div>
	</div>
	<div id="upcoming" class="flex justify-center bg-white">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl font-roboto">Upcoming Plans</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
			<div class="pt-4 xl:px-[25%] px-10 text-gray-700">
				The team will be returning to Indiana in 2026 to compete in the AKS (Autonomous Karting Series). 
				The competition challenges teams to create a fully autonomous racing go-kart, 
				capable of maneuvering an unseen course and racing around other vehicles, all without the aid of human control. 
				The competition was started in 2009 at Purdue University, with the race being held annually at the University’s Grand Prix Track. 
				The competition touches on the topics of machine learning, drive algorithms, electrical power distribution, PCB design, and EV design. 
				A project like this provides an unparalleled experience to the team, 
				shaping the future of the autonomous and robotics industries in this province.  
				In June 2025, the team took on the competition for the first time and came 2nd overall!

			</div>
		</div>
	</div>
	<div id="history" class="flex justify-center bg-gray-200">
		<div class="flex flex-col items-center py-10">
			<div class="text-2xl font-roboto">Our History</div>
			<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
			<div class="2xl:mx-20 mt-6 px-10">
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2016-2019</time>
						<div class="text-xl font-bold text-slate-900">
							Hyperloop Competition
							<img class="max-h-64 rounded-lg" src={hyperloop.src}/>
						</div>
					</div>
					<div class="text-slate-800 text-xl">Paradigm is created, competing in the Hyperloop Competition. Placed second in the world in 2017.</div>
				</div>
				
				<!-- Item #2 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2021-2023</time>
						<div class="text-xl font-bold text-slate-900">
							Intelligent Ground Vehicle Competition
							<img class="h-64 rounded-lg" src={frog.src}/>
						</div>
					</div>
					<div class="text-slate-800 text-xl">Post COVID the team competed in the IGVC, placing 2nd in design and 11th overall in 2023</div>
				</div>
				
				<!-- Item #3 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2022-2023</time>
						<div class="text-xl font-bold text-slate-900">
							F1Tenth
							<img class="max-h-64 rounded-lg" src={f1tenth.src}/>
						</div>
					</div>
					<div class="text-slate-800 text-xl">The FMUNTENTH team created an autonomous 1/10th scale racing vehicle. Placed 9th at the competition in Texas, winning most spirited and best dressed as well</div>
				</div>
				
				<!-- Item #4 -->
				<div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2023-2025</time>
						<div class="text-xl font-bold text-slate-900">
							Autonomous Karting Series
							<img class="max-h-64 rounded-lg" src={karting.src}/>
						</div>
					</div>
					<div class="text-slate-800 text-xl">
						Paradigm and FMUNTENTH have merged, becoming one team to create a larger-scale autonomous racing vehicle. 
						The team is set to compete in the Autonomous Karting Series competition at Purdue University in 2025.
					</div>
					<div class="text-slate-800 text-xl">
						. . .
					</div>
					<div class="text-slate-800 text-xl">
						The team took on the Autonomous Karting Series in West Lafayette, Indiana. In Paradigm’s first year competing, we came 2nd overall!
					</div>
				</div>

				<!-- Item #5 -->
				 <div class="relative pl-8 sm:pl-32 py-6 group">
					<div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
						<time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-600 bg-emerald-100 rounded-full">2025-Now</time>
						<div class="text-xl font-bold text-slate-900">
							Returning to AKS
							
						</div>
					</div>
					<div class="text-slate-800 text-xl">
						After pushing our 2025 setup to the limit, the team is returning to AKS with a more powerful, advanced kart. 
						With many new faces and help from our advisors, we are designing a new drivetrain, as well as new software for the vehicle. 

					</div>
				</div>
			</div>
		</div>
	</div>
			<div id="cta-sponsorship" class="flex justify-center bg-white">
			<div class="flex flex-col items-center py-10 w-2/3">
				<div class="text-3xl font-roboto">Become a Sponsor</div>
				<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
				<div class="w-3/4 pt-4 px-5 pb-2 text-gray-700">
					Interested in supporting the Paradigm team in our upcoming season? 
					Sponsors enable us to build the kart in-house, as well as travel to the competition to represent Newfoundland. 
					Every sponsor logo is featured on our kart, as well as on our team shirts. 
					Sponsors gain exposure to a whole new audience, and promotion through our website and social media. 
					Sponsors can also receive team resume packages for hiring, 
					giving them access to a group of ambitious individuals who are passionate about new technologies. 
				</div>
				<Button buttonLink="/sponsor" buttonText="Learn More"/>
				</div>
		</div>
</Layout>
