---
import Layout from '../layouts/Layout.astro';
import logo from '../content/logo.png';
import Footer from '../components/Footer.astro';
import SubsystemCard from '../components/SubsystemCard.astro';
import { Computer, Zap, Wrench, Briefcase } from 'lucide-react';

import vinfast from '../content/sponsors/vinfast.png';
import pennecon from '../content/sponsors/pennecon.png';
import nlhydro from '../content/sponsors/nlhydro.png';
import verafin from '../content/sponsors/verafin.png';
import gh2 from '../content/sponsors/gh2.png';
import erinl from '../content/sponsors/erinl.png';
import pegnl from '../content/sponsors/pegnl.png';
import swagelok from '../content/sponsors/swagelok.png';
import trilogging from '../content/sponsors/tri-logging.png';
import beattie from '../content/sponsors/beattie-logo.png';
import subsea from '../content/sponsors/subsea.png';
import bluedrop from '../content/sponsors/bluedrop.png';
import setpoint from '../content/sponsors/setpoint.png';
import fortis from '../content/sponsors/fortis.png';
import heyorca from '../content/sponsors/heyorca.png';
import core from '../content/sponsors/core-eng.png';
import genoa from '../content/sponsors/genoa.png';
import training_works from '../content/sponsors/training-works.png';
import parker from '../content/sponsors/parker.png';
import avaloncontrols from '../content/sponsors/avalon-controls.png';
import colab from '../content/sponsors/colab.png';
import ieee from '../content/sponsors/IEEE.png';
---

<Layout title="Paradigm Engineering">
	<main>
		<div id="home" class="relative w-full h-[60rem]">
			<div class="w-full h-full bg-[url('/header.jpg')] bg-cover bg-center" />
			<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center">
				<div class="flex items-center 2xl:flex-row flex-col 2xl:text-start text-center bg-black bg-opacity-50">
					<img class="h-60 w-60 animate-spin-slow invert" src={logo.src}>
					<div class="text-white font-roboto 2xl:text-8xl text-6xl">Paradigm Engineering</div>
				</div>
			</div>
		</div>
		<div id="about" class="flex justify-center bg-gray-200">
			<div class="flex flex-col items-center py-10">
				<div class="text-2xl font-roboto">Summary</div>
				<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
				<div class="pt-4 xl:px-[25%] px-10 text-gray-700">
					Paradigm Engineering is a diverse student group from Memorial University of Newfoundland and Labrador (MUN), focusing on developing and demonstrating autonomous racing vehicles. Comprising electrical, software, and mechanical sub-teams, as well as members for administrative tasks and media outreach, the group aims to excel in competitions and elevate Newfoundland and MUN in autonomous vehicle research. Their upcoming project involves participating in the Autonomous Karting Series in Indiana in 2025, a competition challenging teams to create fully autonomous racing go-karts. The project encompasses various engineering aspects, providing valuable experience and contributing to the future of autonomous and robotics industries in the province.
				</div>
			</div>
		</div>
		<div id="subsystems" class="flex justify-center bg-white">
			<div class="flex flex-col items-center py-10">
				<div class="text-2xl font-roboto">Subteams</div>
				<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
				<div class="grid lg:grid-cols-3 grid-cols-1 gap-20 px-20 xl:px-[15%]">
					<SubsystemCard team="Software" desc="The Software team develops a track and obstacle detection algorithm, guiding the cart through seamless wireless communication with onboard components, ensuring a smooth journey."><Computer size={75}  /></SubsystemCard>
					<SubsystemCard team="Electrical" desc="This subsystem brings the energy to the team - we are responsible for delivering power to all components on the kart, along with creating the electrical connections to allow the algorithm to communicate with external sensor devices."><Zap size={75}  /></SubsystemCard>
					<SubsystemCard team="Mechanical" desc="The Mechanical Team puts the rubber on the road - our scope includes specifying, designing, modifying & manufacturing all the components necessary to turn a human-controlled go-kart into an autonomous vehicle."><Wrench size={75} /></SubsystemCard>
					
				</div>
			</div>
		</div>
		<div id="sponsors" class="flex justify-center bg-gray-200">
			<div class="flex flex-col items-center py-10">
				<div class="text-3xl font-roboto">Our Sponsors</div>
				<hr class="w-16 h-0.5 my-2 border-0 bg-gray-900">
				<div class="pt-4 2xl:px-[30%] px-10 text-gray-700">
					We're grateful to our sponsors who made it possible for us to compete in the 2025 competition.
				</div>
				<div class="flex flex-col items-center pt-5">
					<div class="px-5 py-2 rounded-lg 2xl:text-6xl text-4xl bg-yellow-500 font-roboto">Gold</div>
					<div class="flex flex-row items-center space-x-10 pt-5 px-4">
						<a href="https://vinfastauto.ca/">
							<img class="max-h-24" src={vinfast.src}>	
						</a>
						<a href="https://pennecon.com/">
							<img class="max-h-24" src={pennecon.src}>	
						</a>
					</div>
				</div>
				<div class="flex flex-col items-center pt-5">
					<div class="px-4 py-2 rounded-lg 2xl:text-5xl text-3xl bg-gray-400 font-roboto">Silver</div>
					<div class="hidden xl:flex row-auto space-x-5 pt-5 px-4 items-center">
						<a href="https://nlhydro.com/">
							<img class="max-h-16" src={nlhydro.src}>
						</a>
						<a href="https://verafin.com/">
							<img class="max-h-16" src={verafin.src}>
						</a>
						<a href="https://worldenergygh2.com/">
							<img class="max-h-14" src={gh2.src}>
						</a>
						<a href="https://energyresearchinnovation.ca/">
							<img class="max-h-20" src={erinl.src}>
						</a>
						<a href="https://www.avaloncontrols.ca/">
							<img class="max-h-10" src={avaloncontrols.src}>
						</a>
					</div>
					<div class="flex row-auto space-x-5 pt-5 px-4 items-center xl:hidden">
						<a href="https://nlhydro.com/">
							<img class="max-h-16" src={nlhydro.src}>
						</a>
						<a href="https://verafin.com/">
							<img class="max-h-16" src={verafin.src}>
						</a>
					</div>
					<div class="flex row-auto space-x-5 pt-5 px-4 items-center xl:hidden">
						<a href="https://worldenergygh2.com/">
							<img class="max-h-14" src={gh2.src}>
						</a>
						<a href="https://energyresearchinnovation.ca/">
							<img class="max-h-20" src={erinl.src}>
						</a>
						<a href="https://www.avaloncontrols.ca/">
							<img class="max-h-10" src={avaloncontrols.src}>
						</a>
					</div>
				</div>
				<div class="flex flex-col items-center pt-5">
					<div class=" px-4 py-2 rounded-lg 2xl:text-4xl text-xl bg-amber-600 font-roboto">Bronze</div>
					<div class="hidden 2xl:flex flex-row space-x-5 pt-5 px-4">
						<a href="https://pegnl.ca/">
							<img class="max-h-12" src={pegnl.src}>
						</a>
						<a href="https://www.swagelok.com/">
							<img class="max-h-12" src={swagelok.src}>
						</a>
						<a href="https://www.yellowpages.ca/bus/Alberta/Whitecourt/Tri-Logging-Ltd/5880643.html">
							<img class="max-h-14" src={trilogging.src}>
						</a>
						<a href="https://ectl.ca/beattie-industrial/">
							<img class="max-h-10" src={beattie.src}>
						</a>
						<a href="https://www.subsea7.com/en/index.html">
							<img class="max-h-10" src={subsea.src}>
						</a>
						<a href="https://bluedropism.com/">
							<img class="max-h-10" src={bluedrop.src}>
						</a>
						<a href="https://colabsoftware.com/">
							<img class="max-h-10" src={colab.src}>
						</a>
						<a href="https://www.ieeecanadianfoundation.org/">
							<img class="max-h-12" src={ieee.src}>
						</a>
					</div>
					<div class="hidden 2xl:flex flex-row space-x-5 py-5 px-4">
						<a href="http://www.setpointae.ca/">
							<img class="max-h-10" src={setpoint.src}>
						</a>
						<a href="https://www.fortisinc.com/">
							<img class="max-h-10" src={fortis.src}>
						</a>
						<a href="https://www.heyorca.com/">
							<img class="max-h-10" src={heyorca.src}>
						</a>
						<a href="https://corenl.com/">
							<img class="max-h-10" src={core.src}>
						</a>
						<a href="https://genoadesign.com/">
							<img class="max-h-10" src={genoa.src}>
						</a>
						<a href="https://www.training-works.ca/">
							<img class="max-h-10" src={training_works.src}>
						</a>
						<a href="https://www.parker.com/us/en/home.html">
							<img class="max-h-10" src={parker.src}>
						</a>
					</div>
					<div class="flex flex-row space-x-5 pt-5 px-4 2xl:hidden">
						<a href="https://pegnl.ca/">
							<img class="max-h-12" src={pegnl.src}>
						</a>
						<a href="https://www.swagelok.com/">
							<img class="max-h-12" src={swagelok.src}>
						</a>
						<a href="https://www.yellowpages.ca/bus/Alberta/Whitecourt/Tri-Logging-Ltd/5880643.html">
							<img class="max-h-14" src={trilogging.src}>
						</a>
						<a href="https://ectl.ca/beattie-industrial/">
							<img class="max-h-10" src={beattie.src}>
						</a>
						<a href="https://www.ieeecanadianfoundation.org/">
							<img class="max-h-12" src={ieee.src}>
						</a>
					</div>
					<div class="flex flex-row space-x-5 py-5 px-4 2xl:hidden">
						<a href="https://www.subsea7.com/en/index.html">
							<img class="max-h-10" src={subsea.src}>
						</a>
						<a href="https://bluedropism.com/">
							<img class="max-h-10" src={bluedrop.src}>
						</a>
						<a href="http://www.setpointae.ca/">
							<img class="max-h-10" src={setpoint.src}>
						</a>
						<a href="https://www.fortisinc.com/">
							<img class="max-h-10" src={fortis.src}>
						</a>
						<a href="https://colabsoftware.com/">
							<img class="max-h-10" src={colab.src}>
						</a>
					</div>
					<div class="flex flex-row space-x-5 py-5 px-4 2xl:hidden">
						<a href="https://www.heyorca.com/">
							<img class="max-h-10" src={heyorca.src}>
						</a>
						<a href="https://corenl.com/">
							<img class="max-h-10" src={core.src}>
						</a>
						<a href="https://genoadesign.com/">
							<img class="max-h-10" src={genoa.src}>
						</a>
						<a href="https://www.training-works.ca/">
							<img class="max-h-10" src={training_works.src}>
						</a>
						<a href="https://www.parker.com/us/en/home.html">
							<img class="max-h-10" src={parker.src}>
						</a>
					</div>
				</div>
				
				<div class="pt-4 px-5 pb-2 text-gray-700">Click below to download our sponsorship package!</div>
				<a class="pb-5" href="/Sponsorship Package-3.pdf"><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Download</button></a>
			</div>
		</div>
		<div id="cta-sponsorship" class="flex justify-center bg-white">
			<div class="flex flex-col items-center py-10">
				<div class="text-3xl font-roboto">Become a Sponsor</div>
				<div class="pt-4 2xl:px-[30%] px-10 text-gray-700">
				Sponsors are a cruicial part of our team! They allow us to research, design and fabricate our projects, as well as enable us travel to our competitions! Check out our sponsorship package below for more info!
				</div>
				<iframe class="h-screen 2xl:w-[50%] w-[85%] py-5 xl:block hidden" src="/Sponsorship Package-3.pdf" allow="autoplay"></iframe>
				<a class="pb-5" href="/Sponsorship Package-3.pdf"><button type="button" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">Contact Us</button></a>
			</div>
		</div>
	</main>
</Layout>
